* {
  border: 0;
  padding: 0;
}

.bigBox {
  list-style-type: none;
  text-align: center;
  margin: auto;
  width: 550px;
  height: auto;
  background: url(assets/picture/200.gif);
  background-repeat: initial;
  background-size: 100%;
  background-position: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
input {
  padding: 2px 3px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  width: 100px;
  transition: 0.25s;
}

input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.5);
}

.bkbox ul li {
  width: 90%;
  height: auto;
  background: rgba(255, 255, 255, 0.554);
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
  color: rgb(212, 153, 77);
  text-align: left;
  list-style-type: none;
  line-height: 1.2;
}


.subbutton{
  background: linear-gradient(#e3e3e3, #c7c7c7);
  border: 3px solid #888;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 0 #666;
  transition: all 0.1s ease-in-out;
   font-family: "Rubik Gemstones", system-ui;
}

.bigBox ol {
  list-style-type: none;
}

.bigBox h1 {
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
  color: burlywood;
}

.listOfNums {
  display: none;
}

li {
  color: rgb(207, 164, 108);
  font-family: "Rubik Gemstones", system-ui;
  background: rgba(0, 0, 0, 0.45); 
  padding: 12px 12px;
  font-size: 1.5rem;
  border-radius: 12px;
  width: fit-content;
  margin: 5px auto;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 4px rgba(0,0,0,0.7);
  
}

.formStyle {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
}

.formStyle button {
  width: 100px;
  height: 50px;
}

.GamesButton {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.closebtnpopup{
  background: linear-gradient(#7ddd7d, #d9d629);
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: grab;
  transition: all 0.1s ease-in-out;
 font-family: "Rubik Gemstones", system-ui;
}

.GamesButton button {
  background: linear-gradient(#AFC8FF, #AFC8FF);
  border: 3px solid #AFC8FF;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 0 #AFC8FF;
  transition: all 0.1s ease-in-out;
 font-family: "Rubik Gemstones", system-ui;
}


.GamesButton button:hover {
  background: linear-gradient(#809cd8, #AFC8FF);
}

.GamesButton :active {
  box-shadow: 0 1px 0 #AFC8FF;
  transform: translateY(3px);
}

.buttonPressUser {
  display: none;
}

.popupBox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}


.popupinner {
  background: white;
  padding: 25px 35px;
  border-radius: 12px;
  font-size: 20px;
  max-width: 300px;
  text-align: center;  
}



@media (max-width: 600px) {
  .bigBox {
    width: auto;
    height: auto;
    background-repeat: initial;
    background-size: 100%;
    background-position: center;
  }
}
